@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.logo-box img{
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;
}
.navbarTabs{
  cursor: pointer;
  color: #fff;
}
.recent-post, .featured-post, .feature-container-course{
  position: relative;
  width: 100%;
}
.recent-post, .featured-post{
  padding: 18px;
}
.recent-post h1, .featured-post h1, .feature-course h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: context-menu;
}
.feature-course h1{
  position: absolute;
  top: 2rem;
  z-index: 999;
  left: 36%;
}
.card-image img{
  border-radius: 8px;
}
.sliderRecent-container {
  display: flex !important;
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}
.sliderRecent-container::-webkit-scrollbar{
  width: 12px;
  height: 10px;
  background: transparent;
}
.sliderRecent-container::-webkit-scrollbar-thumb{
  width: 12px;
  height: 10px;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
}