@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
body::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background: #7c7a7a;
}
body::-webkit-scrollbar-thumb {
  width: 8px;
  height: 12px;
  background: linear-gradient(60deg, #111, #2c2c2c, #424242);
  border-radius: 8px;
}
.logo-box img {
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;
}
.navbarTabs {
  cursor: pointer;
  color: #fff;
}
.recent-post,
.featured-post,
.feature-container-course {
  position: relative;
  width: 100%;
}
.recent-post,
.featured-post {
  padding: 18px;
}
.recent-post h1,
.featured-post h1,
.feature-course h1,
.Testmonials,
.teamCompo_Box h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: context-menu;
}
.Testmonials,
.teamCompo_Box h1 {
  color: #111;
}
.testmonial-box {
  border-bottom: 2px solid #cacaca;
}
.feature-course h1 {
  position: absolute;
  top: 2rem;
  z-index: 999;
  left: 36%;
}
.card-image img {
  border-radius: 8px;
}
.sliderRecent-container,
.featured-container {
  display: flex !important;
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}
.sliderRecent-container::-webkit-scrollbar,
.featured-container::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background: transparent;
}
.sliderRecent-container::-webkit-scrollbar-thumb,
.featured-container::-webkit-scrollbar-thumb {
  width: 12px;
  height: 10px;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.quoteMark img {
  width: 60px;
  height: 70px;
}
.CARDTESTMONIAL {
  border-radius: 41% 59% 47% 53% / 70% 34% 66% 30% !important;
  width: 400px;
  height: 300px !important;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}
.testmonialWriter {
  font-size: 14px;
  color: #fff;
  width: 66%;
  text-align: justify;
}
.testMonialcardBox {
  align-items: center;
  justify-content: space-around;
}
.testMonialcardBox,
.popular-card-conatiner {
  flex-wrap: wrap;
}
.cardImage img {
  width: 320px;
  height: 170px;
}
.cardBody-team {
  padding: 2px !important;
}
.cardBody-team h2 {
  font-size: 16px;
  font-weight: bold;
}
.cardBody-team h3 {
  font-size: 14px;
  font-weight: bold;
  color: #636262;
}
.cardBody-team h4 {
  font-size: 13px;
  font-weight: bold;
  color: #636262;
}
.moreAboutBtn {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.ImageBoxteam img {
  border-radius: 4px 4px 0px 0px;
}
.socialIcon i svg {
  width: 100%;
  height: 100%;
}

.fb svg:hover {
  color: #00abfd;
}
.tr svg:hover {
  color: #009ef0;
}
.ig svg:hover {
  color: #df258e;
}
.yt svg:hover {
  color: #ff0000;
}
.gh svg:hover {
  color: #464545;
}
.so svg:hover {
  color: #f3aa23;
}
.pr svg:hover {
  color: #b9354b;
}
.wa svg:hover {
  color: #4fe94f;
}

.slick-prev:before,
.slick-next:before {
  color: #111 !important;
  font-size: 35px !important;
}
.cardImage img,
.cardBlogImageBox img,
.ImageBoxFpostSlider img {
  margin: 0px;
  width: 300px !important;
  height: 230px !important;
  border-radius: 4px 4px 0px 0px;
}
.cardBoxSlider,
.blogPosrSliderCard,
.cardFeutredPostBox,
.ImageBoxFpostSlider img {
  width: 300px !important;
}
.slick-track {
  cursor: grab !important;
}
b {
  color: #c9125e;
}
.slick-slider {
  padding: 40px !important;
}
.feature-container-course img {
  width: 100%;
}
.feature-course {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .MenuRapper{} */
.MenuRapper svg {
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mobileMenu_Box {
  display: none;
}
.menuMobileTabsList {
  position: absolute;
  display: grid;
  z-index: 999;
  color: #ffffff;
  background: #3535358e;
  right: -72px;
  width: 17em;
  top: 0.87em;
  border: 2px solid rgb(77, 75, 75);
  border-radius: 0px 0px 8px 8px;
}
.footerHeader {
  display: flex;
}
.navbar-conatiner {
  display: flex;
}
.blogPosrSliderCard,
.cardFeutredPostBox {
  width: 242px !important;
}
.cardBlogImageBox img,
.ImageBoxFpostSlider img {
  width: 240px !important;
  height: 180px !important;
}
.cardBody h2 {
  font-size: 16px;
}
.featuredpostcardbody h2 {
  font-size: 23px;
}
.aboutList {
  top: 3em;
  border: 2px solid #323232;
  z-index: 9999;
  background: #111;
  color: white;
  right: -5.4em;
  width: 17em;
  padding: 1em;
  border-radius: 0px 0px 12px 12px;
}
.abouttabList a {
  text-decoration: none;
  color: #ffffff;
}
/* .abouttabList{
  padding: 0px;
} */
.abouttabList a li {
  padding: 8px 0px;
}
.aboutUsPageContent-box h1 {
  text-align: center;
  padding: 12px 0px;
  margin: 0px;
}
.aboutUsPageContent-box {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.detailsAbot-about {
  width: calc(100% - 20%);
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.detailsAbot-about p {
  text-align: justify;
}
.welcomeLine-box {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.welcomeLine-box img {
  width: 80%;
  height: 400px;
  margin: 12px 0px;
  border-radius: 8px;
}
.welcomeLine-box h1 {
  position: absolute;
  bottom: 4.9em;
  left: 7.3em;
  z-index: 9999;
  font-size: 24px;
  font-weight: 600;
}
.contactUsBox {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.contactBox h2 {
  width: 174px;
  margin: 12px 0px;
}
.contactBox p {
  width: 350px;
  margin: 12px 0px;
}
.contactUsForm input {
  width: 350px;
}
textarea {
  max-height: 128px;
  max-width: 350px;
  min-height: 128px;
  min-width: 350px;
}
.contactBox {
  width: 367px;
}
/* Disclaimer */
.disclaimerBox{
  width: 100%;
}
.dicslaimer-container{
  width: 70%;
}
.disclaimerAbout p{
  text-align: justify;
}
.disclaimerBox, .dicslaimer-container, .disclamerTitlePic{
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: #111;
  color: #fff;
}
@media screen and (max-width: 1035px) and (min-width: 821px) {
  .mobileMenu_Box {
    display: none;
  }
}
/* tab view */
@media screen and (max-width: 820px) and (min-width: 620px) {
  .mobileMenu_Box {
    display: flex;
  }
  .navbar-conatiner {
    display: none !important;
  }
  .feature-course h1 {
    position: absolute;
    top: 1rem;
    z-index: 999;
    left: 32%;
  }
  .card-box {
    width: 333px !important;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .card-content-conatiner {
    width: 100% !important;
  }
  .popular-card-conatiner {
    justify-content: center !important;
    width: 100% !important;
    flex-wrap: wrap;
  }
  .blogPosrSliderCard {
    width: 200px !important;
  }
  /* .cardImage img, */
  .cardBlogImageBox img,
  .ImageBoxFpostSlider img {
    margin: 0px;
    width: 200px !important;
    height: 119px !important;
    border-radius: 4px 4px 0px 0px;
  }
  .cardBody h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .cardBody h2 {
    font-size: 14px;
  }
  .slick-slide {
    outline: none;
    width: 197px;
  }
  .cardBoxSlider,
  .blogPosrSliderCard,
  .cardFeutredPostBox,
  .ImageBoxFpostSlider img {
    width: 197px !important;
  }
  .featuredpostcardbody h2 {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}
@media screen and (max-width: 619px) and (min-width: 481px) {
  .mobileMenu_Box {
    display: flex !important;
  }
  .navbar-conatiner {
    display: none !important;
  }
  .recent-post,
  .featured-post {
    padding: 54px;
  }
  .slick-slider {
    padding: 5px 5px 5px 25px !important;
  }
  .quoteMark {
    width: 86% !important;
  }
  .feature-course h1 {
    position: absolute;
    top: 0.5rem;
    z-index: 999;
    left: 25%;
  }
  .popular-card-conatiner {
    justify-content: center;
  }
  .team-box {
    justify-content: center !important;
  }
  .footerHeader {
    display: grid !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
  .footerHeadContents-left {
    font-size: 16px !important;
    padding: 10px 0px;
    margin: 4px 0px;
  }
}
@media screen and (max-width: 480px) and (min-width: 359px) {
  .navbar-conatiner {
    display: none !important;
  }
  .mobileMenu_Box {
    display: flex !important;
  }
  .footerHeader {
    display: grid !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
  .footerHeadContents-left {
    font-size: 16px !important;
    padding: 10px 0px;
    margin: 4px 0px;
  }
  .CARDTESTMONIAL {
    border-radius: 8px !important;
    width: 400px;
    height: 410px !important;
    background: linear-gradient(to right, #3c1053, #ad5389);
  }
  .recent-post,
  .featured-post {
    padding: 34px;
  }
  .slick-slide {
    outline: none;
    width: 182px;
  }
  .cardBoxSlider,
  .blogPosrSliderCard,
  .cardFeutredPostBox,
  .ImageBoxFpostSlider img {
    width: 177px !important;
  }
  /* .cardImage img, */
  .cardBlogImageBox img,
  .ImageBoxFpostSlider img {
    margin: 0px;
    width: 182px !important;
    height: 150px !important;
    border-radius: 4px 4px 0px 0px;
  }
  .cardBody h2 {
    font-size: 18px;
    font-weight: 600;
  }
  .cardBody h2 {
    font-size: 14px;
    font-weight: 600;
  }
  .cardBody b {
    font-size: 14px !important;
  }
  .cardBody p {
    font-size: 14px;
  }
  .feature-course h1 {
    position: absolute;
    top: 0.2rem;
    z-index: 999;
    left: 19%;
  }
  .team-box {
    justify-content: center;
  }
  .welcomeLine-box img {
    width: 89%;
    height: 207px;
    margin: 12px 0px;
    border-radius: 8px;
  }
  .welcomeLine-box h1 {
    position: absolute;
    bottom: 4.9em;
    left: 5.7em;
    z-index: 9999;
    font-size: 14px;
    font-weight: 600;
  }
  .contactUsForm input {
    width: 300px;
  }
  textarea {
    max-height: 128px;
    max-width: 300px;
    min-height: 128px !important;
    min-width: 300px;
  }
  .contactBox p {
    width: 300px;
    margin: 12px 0px;
    font-size: 13px;
    font-weight: 600;
  }
}

/* about tab and mobile setup */
@media screen and (max-width: 650px) and (min-width: 480px) {
  .welcomeLine-box img {
    width: 80%;
    height: 293px;
    margin: 12px 0px;
    border-radius: 8px;
  }
  .welcomeLine-box h1 {
    position: absolute;
    bottom: 4.9em;
    left: 6.3em;
    z-index: 9999;
    font-size: 19px;
    font-weight: 600;
  }
}
